/**STYLE**/

* { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }

#container {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	border: 8px solid #ccc;

	input {
		width: 10%;
		text-align: center;
		color: #fff;
	}

	.visor {
		width: 94.04%;
		font-size: 4em;
		text-align: center;
		background: #000;
		padding: 3%;
		color: #fff
	}

	.bt {
		width: 40%;
		padding: 3%;
		margin: 2%;
		float: right;
		text-align: center;
		cursor: pointer;
		background: #790
	}

	.reset { pointer-events: none }
	.pause { display: none }
}